# AI MEGADADOS 25-1

**NOME**: Gustavo Barroso Souza Cruz

## Observações
- Esta prova é formada por 9 (nove) questões e tem **duração de 2h30**.
- Os exercícios com correção automática não terão correção manual, mas poderão haver checks de qualidade/honestidade. Caso tente burlar os testes, sua nota de prova será zero e será enviado ao regime disciplinar. O que é burlar? Por exemplo, para a pergunta "calcule a média da coluna x", o correto é fazer "SELECT AVG(x) FROM tabela", já fazer "SELECT 100.10" é considerado burlar os testes, pois sua query não funciona de forma genérica, apenas cola o próprio valor de resultado.
- Você pode trazer uma folha de papel (tamanho próximo a A4 / oficio) preenchida dos dois lados e utilizar como consulta. A folha pode ser tanto impressa quanto escrita a mão.
- Será permitido utilizar o Workbench para testar queries e fazer forward / reverse engineering. Feche as abas com respostas realizadas durante o semestre.
- Não é permitido compartilhar qualquer material durante a prova. Não serão permitidas consultas a outros meios (material blackboard, sites, notebooks das aulas, github) impressos ou digitais, nem contactar outras pessoas. Caso ocorra, a nota da prova será zero e será enviado ao regime disciplinar.
- Não é permitido o uso de ferramentas de IA (copilot, chatgpt e afins). Você precisará providenciar um ambiente seguro para a prova, sem extensões instaladas (não basta desativar) nem sites abertos. Caso ocorra, a nota da prova será zero e será enviado ao regime disciplinar.

## Parte 1 - Academia!

Na parte 1 da prova de Megadados, iremos trabalhar com a base de dados sintética **Academia**.

Esta base modela um cenário de gestão de academias: redes de academias, unidades, planos, redes de academias atendidas pelo plano, clientes, planos do cliente, etc.

### Insper autograding!

Para entrega dos exercício na parte 1, iremos utilizar o `insper autograding`. Garanta que a biblioteca está instalada em seu ambiente Python.

**Sugestão**: crie uma pasta para a prova e copie o `.env` utilizado nas aulas para esta pasta.

### Instalação da base

Execute o script `academia.sql` no MySQL Workbench. Este script cria uma base `academia` e insere alguns dados de exemplo para resolução da prova.

A base pode ser representada pelo seguinte diagrama do model orelacional (diagrama ER):

<img src="img/deer_academia.png">

## Como resolver os exercícios?

Crie a base da prova em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

Em alguns momentos, pode ser necessário analisar a resposta esperada do servidor para entender modificações na sua solução, mesmo que não seja algo explícito no enunciado.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [2]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [3]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="academia",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Notas

Para conferir a nota da correção automática da prova, utilize:

In [4]:
ia.grades(task="ai_md_25_1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | ai_md_25_1  | ex01        |      3 |     10 |
|  1 | ai_md_25_1  | ex02        |      5 |     10 |
|  2 | ai_md_25_1  | ex03        |      5 |     10 |
|  3 | ai_md_25_1  | ex04        |      6 |      0 |
|  4 | ai_md_25_1  | ex05        |      2 |     10 |
|  5 | ai_md_25_1  | ex06        |      4 |      0 |

In [5]:
ia.grades(by="TASK", task="ai_md_25_1")

|    | Tarefa     |   Nota |
|---:|:-----------|-------:|
|  0 | ai_md_25_1 |      6 |

**Obs**:

- As questões 1 a 6 valem **6.0 pontos** na nota da prova.
    - Estas questões serão corrigidas **apenas** pela correção automática. Não haverá nota manual, mas haverá check de honestidade, conforme regras da prova.
    - Confira os pesos pela API, a média é ponderada.
    - No servidor, a nota da atividade estará no intervalo 0 a 10. Multiplique por `0.6` para saber a real contribuição na nota da prova.
- A questão 7 vale **0.5 pontos** na nota da prova.
- As questões 8 e 9 valem **4.0 pontos** na nota da prova:
    - **2.5 pontos** para a questão 8.
    - **1.5 pontos** para a questão 9.

Logo, a prova vale um total de **10.5** pontos. Você terá sua nota truncada para dez caso conquiste nota maior.

**Exercício 1**: Crie uma query que retorne o nome (completo), a data de nascimento e o telefone de todos os clientes cujo nome completo termina com a letra `"a"`.

**Obs**: Ordene de forma crescente pelo nome (completo).

In [6]:
sql_ex01 = """
SELECT
    nome,
    data_nasc,
    telefone
FROM
    cliente
WHERE
    nome LIKE "%a"
ORDER BY
    nome
"""

db(sql_ex01)

Executando query:
('Ana Souza', datetime.date(1991, 3, 15), '11966666666')
('Carlos Lima', datetime.date(1992, 10, 10), '11977777777')
('João Pereira', datetime.date(1985, 5, 20), '21988888888')
('Laura Costa', datetime.date(1994, 2, 12), '21933333333')
('Maria Silva', datetime.date(1990, 1, 1), '11999999999')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [6]:
ia.sender(answer="sql_ex01", task="ai_md_25_1", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Crie uma query que retorne:

- O nome da unidade;
- O número da unidade;
- O nome da rede da unidade;
- O nome da cidade da unidade;

**Obs**:
- Retorne apenas as unidades não localizadas no **Brasil**;
- Utilize a nomenclatura (`nome_unidade`, `numero`, `rede`, `cidade`);
- Ordene de forma decrescente pelo `nome_unidade`.

In [7]:
sql_ex02 = """
SELECT
    u.nome nome_unidade,
    u.numero numero,
    r.nome rede,
    ci.nome cidade
FROM
    unidade u
    LEFT JOIN rede r USING (id_rede)
    LEFT JOIN cep c USING (id_cep)
    LEFT JOIN cidade ci USING (id_cidade)
    LEFT JOIN estado e USING (id_estado)
    LEFT JOIN pais p USING (id_pais)
WHERE
    p.nome != "Brasil"
ORDER BY
    nome_unidade DESC
"""

db(sql_ex02)

Executando query:
('Smart Buenos Aires', '400', 'Smart Fit', 'Buenos Aires')
('JustFit Lima', '502', 'JustFit', 'Lima')
('JustFit Buenos Aires', '402', 'JustFit', 'Buenos Aires')
('BodyTech Lima', '601', 'BodyTech', 'Lima')
('BodyTech Cusco', '701', 'BodyTech', 'Lima')
('BodyTech Buenos Aires', '501', 'BodyTech', 'Buenos Aires')
('BlueFit Lima', '401', 'BlueFit', 'Lima')
('BioRitmo Lima', '403', 'BioRitmo', 'Lima')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [8]:
ia.sender(answer="sql_ex02", task="ai_md_25_1", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: Crie uma query que retorne:

- O nome do cliente;
- O valor total dos planos que o cliente assina ou ja assinou (coluna `valor_total`);
- A quantidade de planos que o cliente assina (coluna `qtde_planos`).

**Obs**:
- Clientes sem planos também devem ser retornados. Seus indicadores devem estar zerados.
- Ordene de forma decrescente pelo valor total. Em caso de empate, ordene de forma crescente pelo nome do cliente.

In [9]:
sql_ex03 = """
SELECT
    c.nome,
    COALESCE(SUM(p.valor), 0.0) valor_total,
    COUNT(p.id_plano) qtde_planos
FROM
    cliente c
    LEFT JOIN membro_plano mp USING (id_cliente)
    LEFT JOIN plano p USING (id_plano)
GROUP BY
    c.nome
ORDER BY
    valor_total DESC, c.nome
"""

db(sql_ex03)

Executando query:
('Laura Costa', Decimal('629.60'), 4)
('Carlos Lima', Decimal('329.80'), 2)
('João Pereira', Decimal('299.80'), 2)
('Maria Silva', Decimal('299.80'), 2)
('Ana Souza', Decimal('99.90'), 1)
('Fernando Dias', Decimal('99.90'), 1)
('Pedro Mendes', Decimal('79.90'), 1)
('Ricardo Santos', Decimal('0.00'), 0)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [10]:
ia.sender(answer="sql_ex03", task="ai_md_25_1", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**:

Vamos analisar a distribuição dos planos e clientes.

Crie uma query que retorne:

- O nome do plano (coluna `plano`);
- O `valor` do plano;
- A quantidade de redes disponibilizadas pelo plano (coluna `qtde_redes`);
- A quantidade de unidades disponíveis no plano (coluna `qtde_unidades`);
- A quantidade de cidades diferentes atendidas pelo plano, com base nas unidades (coluna `qtde_cidades`);
- A quantidade de clientes que assinam o plano (coluna `qtde_clientes`). Considere apenas as assinaturas `membro_plano` ativas (independente se o cliente está ativo).

**Obs:**
- Considere apenas planos que atendem no máximo cinco cidades diferentes;
- Retorne apenas os três planos com mais unidades;
- Ordene de forma crescente pelo nome do plano.

In [ ]:
sql_ex04 = """
SELECT
    p.nome plano,
    p.valor,
    COUNT(DISTINCT r.id_rede) qtde_redes,
    COUNT(DISTINCT u.id_unidade) qtde_unidades,
    COUNT(DISTINCT ci.id_cidade) qtde_cidades,
    COUNT(DISTINCT cl.id_cliente) qtde_clientes
FROM
    plano p
    LEFT JOIN rede_plano rp ON p.id_plano = rp.plano_id_plano
    LEFT JOIN membro_plano mp USING (id_plano)
    LEFT JOIN cliente cl USING (id_cliente)
    LEFT JOIN rede r ON rp.rede_id_rede = r.id_rede
    LEFT JOIN unidade u USING (id_rede)
    LEFT JOIN cep ON u.id_cep = cep.id_cep
    LEFT JOIN cidade ci USING (id_cidade)
GROUP BY
    p.id_plano
HAVING
    qtde_cidades <= 5
        AND qtde_clientes > MIN(qtde_clientes)
ORDER BY
    p.nome


"""

db(sql_ex04)

Executando query:

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'HAVING
    qtde_clientes > MIN(COUNT(DISTINCT cl.id_cliente))
ORDER BY
    p.nom' at line 21

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer="sql_ex04", task="ai_md_25_1", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**:

Devido a restrições legais, todos os clientes inativos devem ser removidos da base.

Crie uma query para realizar esta tarefa.

In [ ]:
sql_ex05 = """
DELETE FROM cliente
WHERE ativo = 0
"""

# TODO: PERGUNTAR AO MACIEL
db(sql_ex05)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer="sql_ex05", task="ai_md_25_1", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 6**: A gestão percebeu que não possui nenhuma informação de localização dos clientes. Assim, decidiu armazenar também o **CEP** de moradia dos **clientes**.

Como as tabelas de `cliente` e `cep` já existem, neste exercício você deve criar uma query para alterar a tabela de clientes:

- Adicione uma coluna `id_cep` na tabela de `cliente` com tipo inteiro. O atributo não é obrigatório.
- Adicione uma chave estrangeira para a tabela de `cep`.

Envie apenas uma query como resposta. Você pode separar por vírgula e, em uma única query, enviar a criação do campo e criação da chave estrangeira.

**Obs**: Você deve alterar a tabela. Apagar e recriar não será considerada uma solução válida.

In [ ]:
sql_ex06 = """
ALTER TABLE cliente
ADD COLUMN id_cep INT,
ADD CONSTRAINT FOREIGN KEY (id_cep)
REFERENCES cep(id_cep);
"""

db(sql_ex06)

Executando query:

ProgrammingError: 1060 (42S21): Duplicate column name 'id_cep'

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [8]:
ia.sender(answer="sql_ex06", task="ai_md_25_1", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as notas!

In [9]:
ia.grades(task="ai_md_25_1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | ai_md_25_1  | ex01        |      3 |     10 |
|  1 | ai_md_25_1  | ex02        |      5 |     10 |
|  2 | ai_md_25_1  | ex03        |      5 |     10 |
|  3 | ai_md_25_1  | ex04        |      6 |      0 |
|  4 | ai_md_25_1  | ex05        |      2 |     10 |
|  5 | ai_md_25_1  | ex06        |      4 |     10 |

**Exercício 7**: O seu **exercício quatro** será conferido em relação a padronização do código SQL. Caso tudo esteja ok, você ganhará meio ponto!

Cole a melhor versão da sua resposta do ex 4 onde indicado logo abaixo. Faça isto mesmo que não tenha passado nos testes!

A conferência levará em conta:
- Se a query está bem formatada, considerando principalmente:
    - Padrão de maiúsculas e minúsculas
    - Tabulações e quebras de linhas, sem linhas muito longas
- Se utiliza *alias* nas tabelas.

```sql
SELECT
    p.nome AS plano,
    p.valor,
    COUNT(DISTINCT r.id_rede) AS qtde_redes,
    COUNT(DISTINCT u.id_unidade) AS qtde_unidades,
    COUNT(DISTINCT ci.id_cidade) AS qtde_cidades,
    COUNT(DISTINCT cl.id_cliente) AS qtde_clientes
FROM
    plano p
    LEFT JOIN rede_plano AS rp ON p.id_plano = rp.plano_id_plano
    LEFT JOIN membro_plano AS mp USING (id_plano)
    LEFT JOIN cliente AS cl USING (id_cliente)
    LEFT JOIN rede AS r ON rp.rede_id_rede = r.id_rede
    LEFT JOIN unidade AS u USING (id_rede)
    LEFT JOIN cep USING (id_cep)
    LEFT JOIN cidade AS ci USING (id_cidade)
GROUP BY
    p.id_plano
HAVING
    qtde_cidades <= 5
    AND p.id_plano IN (
        SELECT
            p.id_plano,
            COUNT(DISTINCT u.id_unidade) AS qtde_unidades -- coloco em variáveis?
        FROM
            plano p
            LEFT JOIN rede_plano AS rp ON p.id_plano = rp.plano_id_plano
            LEFT JOIN rede AS r ON rp.rede_id_rede = r.id_rede
            LEFT JOIN unidade AS u USING (id_rede)
        GROUP BY
            p.id_plano
        ORDER BY
            qtde_unidades
        LIMIT 3
    )
ORDER BY
    p.nome
```

<!-- TODO: COLOCAR A RESPOSTA -->

## Parte 2 - Controle de Distribuição de Medicamentos

Você foi contratado pela **Farmacêutica FarMax** para desenvolver um sistema que permita acompanhar a distribuição de medicamentos desde a produção até os centros de distribuição. O objetivo é que cada lote de medicamento chegue ao seu destino corretamente e dentro do prazo de validade.

Em reuniões com a equipe da **FarMax**, foram levantadas as seguintes informações sobre o domínio de negócio:

- **Cadastro de Medicamentos**: O sistema deve permitir o cadastro dos medicamentos, incluindo nome do medicamento, bula (texto) e fórmula (princípio ativo, em formato de texto).

- **Cadastro de Lotes de Medicamentos**: Um lote de medicamento é um conjunto de unidades de um medicamento (como comprimidos, frascos, ampolas, etc.) que foi produzido sob as mesmas condições, no mesmo processo de fabricação e durante um mesmo período de tempo. Sempre que um medicamento é produzido, um novo **lote** é gerado para identificar a produção. Medicamentos diferentes nunca compartilham o mesmo lote, mas cada medicamento pode ter múltiplos lotes de produção. O sistema deve registrar a identificação do lote (ex: `3NX1829A`), a data de produção, a data de validade, o medicamento produzido no lote e a quantidade produzida.

- **Cadastro de Centros de Distribuição**: O sistema deve armazenar informações sobre os centros de distribuição, incluindo endereço (rua, número, cidade, estado) e a capacidade de armazenamento (número real).

- **Cadastro de Remessas de Medicamentos**: Uma remessa é o envio de certa quantidade de um medicamento (de determinado lote) para um centro de distribuição. O sistema deve permitir registrar o **envio de lotes** de medicamentos para os centros de distribuição, mediante o cadastro de remessas. Considere que as remessas podem ocorrer de forma recorrente (o mesmo lote pode ser enviado em datas diferentes para o mesmo centro de distribuição), sendo criada uma nova remessa sempre que isto ocorrer. Informações relevantes na remessa: o lote sendo enviado, o centro de distribuição (destino), a quantidade enviada, a data de criação da remessa e a data de recebimento no centro de distribuição (deve ser opcional, para preenchimento na data de recebimento).

**Tarefa:**

Com base nas informações fornecidas pela equipe da **FarMax**, elabore um **diagrama do modelo relacional (no Workbench)** que represente as entidades, atributos e relacionamentos necessários para implementar o sistema descrito. Certifique-se de identificar chaves primárias, chaves estrangeiras e quaisquer restrições de integridade relevantes.

**Dica**:
- Concentre-se no escopo descrito. Não precisa se preocupar com detalhes como: "onde está localizada a fábrica? são várias fábricas?"

**Exercício 8**: Desenhe o diagrama do modelo relacional com uma solução para o problema. Não esqueça de indicar claramente os atributos (obrigatórios e opcionais), tipos, chaves primárias, chaves estrangeiras, e a cardinalidade dos relacionamentos.

**Obs:** Salve a imagem do diagrama na pasta `img`. Edite na resposta o caminho para a imagem!

<div class="alert alert-success">
    
Edite na resposta o caminho para a imagem!
    
<img src="img/eer.png">

</div>

**Opcional**: caso julgue necessário, utilize o bloco abaixo para justificar decisões tomadas no desenho do diagrama.

<div class="alert alert-success">

Optei por não criar tabelas extras como cidade, cep e estado, que eu normalmente criaria pois foi pedido que me concentrasse apenas no escopo do das tabelas que foram pedidas

</div>

**Exercício 9**: Discorra, com suas palavras, sobre *views* e *tabelas temporárias*.

Esta questão será corrigida considerando a seguinte subrica:
| Conceito | Nota | Descrição                                                                                                                                               |
|:----------:|----------:|:---------------------------------------------------------------------------------------------------------------------------------------------------------|
| I        | 0.0 |Apenas citou o assunto ou alguns fatos sem explicações                                                                                                  |
| D        | 0.3 |Explicou superficialmente o assunto ou fatos mas sem muitos detalhes conclusivos                                                                        |
| C        | 0.6 |Explicou com detalhes, apresentando definições concretas.                                                                                               |
| B        | 0.8 |Explicou com detalhes, apresentando definições concretas e exemplos de uso.                                                                            |
| A        | 1.0 |Explicou com detalhes, apresentando definições concretas, exemplos de uso e ainda outros tópicos correlatos, fazendo uma conexão lógica entre eles. |

<div class="alert alert-success">

Temporary tables e Views são duas ferramentas muito úteis no SQL. As duas são representações de um subconjunto dos dados de um schema. Seu objetivo é parecido: possibilitar que trabalhemos com uma nova tabela específica criada a partir de diferentes manipulações de um banco de dados, possibilitanto que juntemos, modifiquemos e façamos diversas operações com outras tabelas mas sem criar uma nova tabela de fato no banco de dados. A vantagem é que não precisamos reescrever multiplas vezes queries de select para podermos acessar uma parte específica dos dados interessante para o nosso contexto.

Exemplo:
Quero explorar dados sobre a frequência com que um determinado medicamento é enviado para um centro de distribuição. Ao invés de ter que fazer um join de todas as tabelas para cada query que quiser fazer, podemos criar uma tabela temporária ou view que já tenham os dados que queremos e exploramos a partir dela.

As diferenças entre View e Tabela temporária:

Enquanto as tabelas temporárias são apenas locais e não conseguem afetar a base de dados (ex: uma linha deletada na tabela temporária não reflete na base de dados), as views conseguem, portanto, uma alteração feita numa view é refletida na base de dados. Além disso, as tabelas temporárias não são atualizadas com o banco de dados, e só refletem os dados do momento em que foi criada. Já nas Views, uma alteração feita no banco de dados é automaticamente refletida e atualizada na view, permitindo que se mantenha consistente com os dados atuais do banco.

</div>

## Entrega!

É hora de entregar. Faça `zip` da pasta de prova (zip, não rar) e envie no Blackboard.

## Erros

Caso queira relatar erros encontrados na prova, escreva aqui:

<div class="alert alert-success">

Sua resposta AQUI!

</div>